*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}
#global-header{
    background-image: url("https://picsum.photos/seed/picsum/400/300");
    background-size: cover;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
    height: 50vh;
    min-height: 100px;
    
    
    nav{
        ul{
            li{
                text-decoration: grey;
        font-family: Arial, Helvetica, sans-serif;
        list-style: none;
        padding: 0.2rem;
            }
        }
       
        


    }
}

#mainlogo{
    text-transform: uppercase;
}
article{
    margin: 1rem 0;
    border:1px solid #efefef;
    max-width: 400px;
    width: 100%;
    min-width: 250px;   
    padding: 1rem;
    
}
footer {
    background-color: rgb(152, 152, 152);
    color: white;
    padding: 20px;
}

footer h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

footer address {
    font-style: normal; 
    margin-bottom: 20px;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

footer input,
footer textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    border: none;
}